<div class="hdr-div">
    <div class="logo">
        <p><a routerLink="/">Let him Cook</a></p>
    </div>
    <nav>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/features">Features</a></li>
          <li><a routerLink="/pricing">Pricing</a></li>
          <li><a routerLink="/">Community</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/support">Support</a></li>
        </ul>
    </nav>
    <button><a routerLink="/login">Login</a></button>
    <button><a routerLink="/signup">Register</a></button>
</div>